body {
    font-weight: 400;
    font-kerning: auto;
    -webkit-font-smoothing: antialiased;
    //overflow-y: hidden;
    color: $marine-blue;
    background-color: $beta;
    overflow-x: hidden;
}
