h1,
.h1 {
    //@include font-secondary();
}

h2,
.h2 {
    //@include font-secondary();
}

h3,
.h3 {
    //@include font-secondary();
}

h4,
.h4 {
    //@include font-secondary();
}

h5,
.h5 {
    //@include font-secondary();
}