html {
    min-height: 100%;
    position: relative;
    font-size: 70.5%;

    @include media-breakpoint-up(sm) {
        font-size: 80.5%;
    }

    @include media-breakpoint-up(md) {
        font-size: 100%;
    }

}
