<html>
{% block head %}
    {% include 'partials/head.twig' %}
{% endblock %}


<body class="{{body_class}}" data-template="base.twig">
    <main class="l-Base">

        {% include 'modules/HeaderPrimary/HeaderPrimary.module.twig' %}

        {% block content %}
        {% endblock %}


        {% include 'modules/FooterPrimary/FooterPrimary.module.twig' %}

        {{ function('wp_footer') }}
    </main>
</body>
</html>
