//@mixin m-Button--link {
//    color: $topaz;
//    font-size: 15px;
//    font-weight: $font-weight-semi;
//    line-height: 24px;
//    padding: 0;
//    background-color: transparent;
//
//    .m-Button__icon {
//        margin: 0 0 0 16px;
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        position: relative;
//
//        &:before {
//            content: '';
//            z-index: 5;
//            width: 24px;
//            height: 24px;
//            background-color: $ice-blue;
//            border-radius: 40px;
//            position: absolute;
//            left: 50%;
//            top: 50%;
//            transform: translate(-50%, -50%);
//            transition: all $normal-transition;
//        }
//    }
//
//    .m-Icon {
//        position: relative;
//        z-index: 10;
//        color: $topaz;
//        transition: color $normal-transition;
//    }
//
//    &:hover {
//        color: $topaz;
//
//        .m-Button__icon {
//            &:before {
//                transform: translate(-50%, -50%) scale(1.4);
//                background-color: $topaz;
//            }
//        }
//        .m-Icon {
//            color: $white;
//        }
//    }
//
//}
//
//.m-Button--link {
//    @include m-Button--link;
//}
//
//
//@mixin m-Button--topaz {
//    color: $white;
//    background-color: $topaz;
//    font-weight: $font-weight-semi;
//    border-radius: $border-radius-lg;
//    transition: background-color $normal-transition;
//
//    .m-Button__icon {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        position: relative;
//        transition: margin $normal-transition;
//    }
//
//    .m-Icon {
//        position: relative;
//        z-index: 10;
//        color: $white;
//        //
//    }
//
//    &:hover {
//        color: $white;
//        background-color: $topaz-dark;
//
//        .m-Icon {
//            color: $white;
//        }
//    }
//
//}
//
//.m-Button--topaz {
//    @include m-Button--topaz;
//}
//
//
//@mixin m-Button--ghost {
//    color: $marine-blue;
//    background-color: $white;
//    font-weight: $font-weight-medium;
//    border-radius: $border-radius-lg;
//    border: $border-width solid $light-periwinkle;
//    transition: border $normal-transition;
//
//    .m-Button__icon {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        position: relative;
//        transition: margin $normal-transition;
//    }
//
//    .m-Icon {
//        position: relative;
//        z-index: 10;
//        color: $marine-blue;
//        //
//    }
//
//    &:hover {
//        color: $marine-blue;
//        border-color: $pale-grey-800;
//
//        .m-Icon {
//            color: $marine-blue;
//
//        }
//    }
//
//}
//
//.m-Button--ghost {
//    @include m-Button--ghost;
//}
//
//.m-Button--ghost-topaz {
//    @include m-Button--ghost;
//
//    .m-Icon {
//        color: $topaz;
//    }
//
//    &:hover {
//
//        .m-Icon {
//            color: $topaz;
//
//        }
//    }
//}