.m-Button {
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    position: relative;

    &:before {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        content: "";
        transform: translate(-50%, -50%);
        opacity: 1;
        transition: width 200ms ease, height 200ms ease, opacity 200ms ease, background-color 200ms ease;;
    }

    &:hover {
        text-decoration: none;

        &:before {
            width: calc(100% + 8px);
            height: calc(100% + 4px);
        }
    }
}

.m-Button__label {
    vertical-align: middle;
    position: relative;
    z-index: 5;
}

.m-Button__icon {
    vertical-align: middle;
    line-height: 1;
    font-size: 85%;

    .icon-arrow-right {
        transform: translate(0, 1px);
    }

    .icon-arrow-left {
        transform: translate(0, 1px);
    }
}

.m-Button--align-center {
    text-align: center;
}

.m-Button--align-left {
    text-align: left;
}

.m-Button--align-right {
    text-align: right;
}

.m-Button__icon--space {
    margin-left: 8px;
}

.m-Button__icon--space-left {
    margin-left: 0;
    margin-right: 8px;
}

.m-Button--block {
    display: block;
}

.m-Button--flex {
    display: flex;
    align-items: center;
}

.m-Button--inline {
    display: inline;
}

.m-Button--inline-flex {
    display: inline-flex;
    align-items: center;
}

.m-Button--inline-block {
    display: inline-block;
}

@import "Button--sizes.module";

@import "Button--styles.module";
