{% if type == 'button' %}
    <button {% if id %}id="{{ id }}"{% endif %} {% if disabled %}disabled{% endif %} class="m-Button {% if style %}m-Button--{{ style }} {% endif %}{% if size %}m-Button--{{ size }} {% endif %} {% if display %}m-Button--{{ display }} {% endif %} {{ class }}">
        {% if icon and icon_position == "left" %}
            <span class="m-Button__icon {% if label %}m-Button__icon--space {% if icon_position %}m-Button__icon--space-{{ icon_position }}{% endif %}{% endif %}">
                {% include "modules/Icon/Icon.module.twig" with {
                    icon: icon
                } %}
            </span>
        {% endif %}
        <span class="m-Button__label">{{ label }}</span>
        {% if icon and icon_position != "left" %}
            <span class="m-Button__icon {% if label %}m-Button__icon--space {% if icon_position %}m-Button__icon--space-{{ icon_position }}{% endif %}{% endif %}">
                {% include "modules/Icon/Icon.module.twig" with {
                    icon: icon
                } %}
            </span>
        {% endif %}
    </button>
{% elseif type == 'span' %}
    <span {% if id %}id="{{ id }}"{% endif %} {% if target %}target="{{ target }}"{% endif %} {% if disabled %}disabled{% endif %} class="m-Button {% if style %}m-Button--{{ style }} {% endif %}{% if size %}m-Button--{{ size }} {% endif %} {% if display %}m-Button--{{ display }}{% endif %} {{ class }}">
        {% if icon and icon_position == "left" %}
            <span class="m-Button__icon {% if label %}m-Button__icon--space {% if icon_position %}m-Button__icon--space-{{ icon_position }}{% endif %}{% endif %}">
                {% include "modules/Icon/Icon.module.twig" with {
                    icon: icon
                } %}
            </span>
        {% endif %}
        <span class="m-Button__label">{{ label }}</span>
        {% if icon and icon_position != "left" %}
            <span class="m-Button__icon {% if label %}m-Button__icon--space {% if icon_position %}m-Button__icon--space-{{ icon_position }}{% endif %}{% endif %}">
                {% include "modules/Icon/Icon.module.twig" with {
                    icon: icon
                } %}
            </span>
        {% endif %}
    </span>
{% else %}
    <a href="{{ url }}" {% if id %}id="{{ id }}"{% endif %} {% if target %}target="{{ target }}"{% endif %} {% if disabled %}disabled{% endif %} class="m-Button {% if style %}m-Button--{{ style }} {% endif %}{% if size %}m-Button--{{ size }} {% endif %} {% if display %}m-Button--{{ display }}{% endif %} {{ class }}">
        {% if icon and icon_position == "left" %}
            <span class="m-Button__icon {% if label %}m-Button__icon--space {% if icon_position %}m-Button__icon--space-{{ icon_position }}{% endif %}{% endif %}">
                {% include "modules/Icon/Icon.module.twig" with {
                    icon: icon
                } %}
            </span>
        {% endif %}
        <span class="m-Button__label">{{ label }}</span>
        {% if icon and icon_position != "left" %}
            <span class="m-Button__icon {% if label %}m-Button__icon--space {% if icon_position %}m-Button__icon--space-{{ icon_position }}{% endif %}{% endif %}">
                {% include "modules/Icon/Icon.module.twig" with {
                    icon: icon
                } %}
            </span>
        {% endif %}
    </a>
{% endif %}