{% extends "layouts/base/base.layout.twig" %}

{% block content %}

    {% include 'blocks/Hero/Hero.block.twig' %}

    <div class="container">
        {% for post in posts %}
            {{ post.content }}
        {% endfor %}
    </div>

    {% include 'blocks/BookForm/BookForm.block.twig' %}

{% endblock %}