<div class="m-HeaderPrimary {% if modificator %}m-HeaderPrimary--{{ modificator }}{% endif %}" data-theme-modificator="{% if modificator %}m-HeaderPrimary--{{ modificator }}{% endif %}">
    <div class="container">
        <div class="m-HeaderPrimary__inner">

            <a href="#" class="m-HeaderPrimary-Logo m-HeaderPrimary-Logo--tocino" >
                <img src="{{ theme.link }}/static/img/logos/ticino.png" alt="Ticino" />
            </a>

            <a href="#" class="m-HeaderPrimary-Logo m-HeaderPrimary-Logo--geneve">
                <img src="{{ theme.link }}/static/img/logos/genevalive.png" alt="GenevaLive" />
            </a>

        </div>
    </div>
</div>
