.m-HeaderPrimary {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: top ease 200ms;
}
.m-HeaderPrimary__inner {
    display: flex;
    height: rem(105);
    margin: rem(60) 0 0 0;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparentize($beta, 0.2);
    border-radius: 15px;
    overflow: hidden;

    &:after {
        width: 1200px;
        height: 100%;
        background-color: $beta;
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(99px, 0) skew(-25.5deg, 0);
        z-index: 5;

        @include media-breakpoint-up(sm) {
            transform: translate(149px, 0) skew(-25.5deg, 0);
        }

        @include media-breakpoint-up(md) {
            transform: translate(157px, 0) skew(-25.5deg, 0);
        }
    }

}

.m-HeaderPrimary-Logo {
    margin: 0 rem(35);
    position: relative;
    z-index: 10;

    img {
        width: 100%;
    }
}

.m-HeaderPrimary-Logo--tocino {
    top: -3px;
    width: 120px;

    @include media-breakpoint-up(sm) {
        width: 200px;
    }
}

.m-HeaderPrimary-Logo--geneve {
    top: 2px;
    width: 120px;

    @include media-breakpoint-up(sm) {
        width: 200px;
    }
}