.m-Hamburger {
    //position: absolute;
    //transition: all 0.3s ease-in-out;
    width: 46px;
    height: 46px;
    display: block;
    //right: 0;
    position: relative;
    //top: 50%;
    //transform: translateY(-50%);
    z-index: 20;

    @include rwd($global-menu-breakpoint) {
        display: none;
    }
}

.m-Hamburger__dash {
    width: 24px;
    height: 2px;
    display: block;
    transition: all 0.3s ease;
    position: absolute;
    right: 11px;
    background-color: $luna;
    border-radius: 5px;

    &:nth-child(1) {
        top: 13px;
    }
    &:nth-child(2) {
        top: 29px;
    }
    &:nth-child(3) {
        top: 21px;
    }
}

.m-Hamburger--active {
    .m-Hamburger__dash {
        height: 2px;
        width: 24px;
        left: 12px;

        &:nth-child(1) {
            transform: rotate(-45deg);
            top: 21px;
        }
        &:nth-child(2) {
            opacity: 0;
            left: 16px;
        }
        &:nth-child(3) {
            transform: rotate(45deg);
            top: 21px;
        }
    }
}
