<div class="m-Brand">
    <a href="{{ site.link }}" title="{{ site.title }}" class="m-Brand__link {% if target %}Anchor{% endif %}" {% if target %}data-target="{{ target }}"{% endif %}>
    </a>
</div>
