m-NavigationPrimary {
}
.m-NavigationPrimary__container {
}

.m-NavigationPrimary-nav {
}
.m-NavigationPrimary-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.m-NavigationPrimary-nav__item {
    display: inline-block;
    padding: rem(4) rem(24);

    @include rwdmax($global-menu-breakpoint) {
        display: block;
        //padding: rem(4) rem(24);
    }

    @include rwd(medium) {
        padding: rem(4) rem(6);
    }

    @include rwd(xlarge) {
        padding: rem(4) rem(16);
    }
}
.m-NavigationPrimary-nav__link {
    display: block;
    font-size: rem(16);
    padding: rem(6);
    text-decoration: none;
    position: relative;
    color: $luna;

    &:hover {
        color: $bano;
        text-decoration: none;
    }

    @include rwdmax($global-menu-breakpoint) {
        color: $beta;
        font-size: rem(20);
        font-weight: 300;
        &:hover {
            color: $beta;
        }
    }

    @include rwd(medium) {
        font-size: rem(14);
    }

    @include rwd(large) {
        font-size: rem(16);
    }
}
.current_page_item {
}
.m-NavigationPrimary-nav__link--active {
    &:after {
        height: 2px;
        width: 100%;
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        background: #4e74db;
    }
}
