<div class="m-NavigationPrimary">
    <div class="m-NavigationPrimary__container js-m-NavigationPrimary__container">

        <nav class="m-NavigationPrimary-nav js-m-NavigationPrimary-nav" role="navigation">
            <ul class="m-NavigationPrimary-nav__list">
                {#                    {{ dump(nav.primary_nav.items) }}#}
                {% for item in items %}
                    <li class="m-NavigationPrimary-nav__item {{ item.classes | join(' ') }}">
                        <a
                                {% if item.target %} target="{{ item.target }}" {% endif %}
                                class="m-NavigationPrimary-nav__link {{ item.current_item_parent ? 'm-NavigationPrimary-nav__link--active' }} {{ item.current ? 'm-NavigationPrimary-nav__link--active' }}"
                                href="{{ item.get_link }}"
                        >
                            {{ item.title }}

                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

</div>
