<head>
    <meta charset="{{site.charset}}" />
    <title>{{ page.title }} | {{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="pingback" href="{{ site.pingback_url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ theme.link }}/static/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ theme.link }}/static/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ theme.link }}/static/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ theme.link }}/static/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="{{ theme.link }}/static/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ theme.link }}/static/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="{{ theme.link }}/static/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="https://www.geneve.com/public/assets/website/css/gtc.app.css" >

    {{function('wp_head')}}

    {{ options.wcd_header_scripts }}
</head>