//Color names
//http://chir.ag/projects/name-that-color/

$alpha: #000;
$beta: #fff;
$fabia: $beta;
$luna: $alpha;
$marine-blue: #050d4b;
$bano: #65c4f0;
$ibiza: #ffd800;
$ranch: #ececec;
$timon: #808184;
$gist: #3a3a3b;
$shaft: #292929;

$facebook: #3a589b;
$twitter: #598dca;
$linkedin: #007ab9;

//$error: $ibiza;
//$success: #69e21d;

$pale-grey-100:       #fafafc;
$pale-grey-300:       #f5f7fa;
$pale-grey-400:       #eeeff2;
$pale-grey-500:       #e9e9f0;
$pale-grey:           #ebeef5;
$light-periwinkle:    #d6dce9;
$light-sky-blue:      #dde1e4;
$pale-grey-700:       #c0c2cf;
$pale-grey-800:       #98a7c8;
$pale-grey-900:       #5c6076;


$primary:       $marine-blue;
$secondary:     $bano;

$theme-colors: ();


$theme-colors: map-merge(
                (
                        "primary":    $primary,
                        "secondary":  $secondary,
                        "bano":      $bano,
                        "ibiza":       $ibiza
                ),
                $theme-colors
);
