.b-Hero {
    height: 610px;
    width: 100%;
    background-image: url("./../img/hero_pic.png");
    background-size: auto 100%;
    background-position: center bottom;
    background-repeat: no-repeat;

    @include media-breakpoint-up(sm) {
        height: 860px;
    }

    @include media-breakpoint-up(md) {
        height: 940px;
    }
}