@mixin button_style(
    $normal_bg,
    $normal_color,
    $hover_bg,
    $hover_color,
    $hover_shadow
) {
    background-color: $normal_bg;
    box-shadow: none;
    color: $normal_color;
    text-decoration: none;
    transition:
        background-color $animation,
        color $animation,
        box-shadow $animation;

    &:hover {
        background-color: $hover_bg;
        color: $hover_color;
        text-decoration: none;

        @include shadow($hover_shadow);
    }
}
