<div class="m-FooterPrimary">
    <footer class="gtc-footer">
        <div class="gtc-container">
            <div class="gtc-row gtc-row--footer">
                <div class="gtc-block gtc-block--footer">
                    <ul class="gtc-linklist gtc-linklist--border">
                        <li class="gtc-linklist__item">
                            <a class="gtc-linklist__link" title="Sleep" href="https://www.geneve.com:443/en/sleep/hotels/">Sleep</a>
                        </li>
                        <li class="gtc-linklist__item">
                            <a class="gtc-linklist__link" title="Special Offers" href="https://www.geneve.com:443/en/sleep/special-offers/">Special Offers</a>
                        </li>
                        <li class="gtc-linklist__item">
                            <a class="gtc-linklist__link" title="See &amp; Do" href="https://www.geneve.com:443/en/see-do/attractions/">See &amp; Do</a>
                        </li>
                        <li class="gtc-linklist__item">
                            <a class="gtc-linklist__link" title="Contact Us" href="https://www.geneve.com:443/en/business/about-us/contact-us/">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="gtc-block gtc-block--footer">
                    <h4 class="gtc-block__linklist-headline gtc-block__linklist-headline--footer">Good to know</h4>
                    <ul class="gtc-linklist">
                        <li class="gtc-linklist__item">
                            <a class="gtc-linklist__link" title="Media Library" href="https://medias.geneve.com">Media Library</a>
                        </li>
                        <li class="gtc-linklist__item">
                            <a class="gtc-linklist__link" title="Good to know" href="https://www.geneve.com:443/en/good-to-know/">Good to know</a>
                        </li>
                    </ul>
                </div>
                <div class="gtc-block gtc-block--footer">
                    <h4 class="gtc-block__linklist-headline gtc-block__linklist-headline--footer">Business</h4>
                    <ul class="gtc-linklist">
                        <li class="gtc-linklist__item">
                            <a class="gtc-linklist__link" title="Convention bureau" href="https://www.geneve.com:443/en/business/convention-bureau/">Convention bureau</a>
                        </li>
                        <li class="gtc-linklist__item">
                            <a class="gtc-linklist__link" title="Travel trade" href="https://www.geneve.com:443/en/business/travel-trade/">Travel trade</a>
                        </li>
                        <li class="gtc-linklist__item">
                            <a class="gtc-linklist__link" title="Media" href="https://www.geneve.com:443/en/business/media-infos/">Media</a>
                        </li>
                        <li class="gtc-linklist__item">
                            <a class="gtc-linklist__link" title="About us" href="https://www.geneve.com:443/en/business/about-us/">About us</a>
                        </li>
                        <li class="gtc-linklist__item">
                            <a class="gtc-linklist__link" title="Geneva Pass" href="https://www.geneve.com:443/en/see-do/geneva-pass/">Geneva Pass</a>
                        </li>
                        <li class="gtc-linklist__item">
                            <a class="gtc-linklist__link" title="Jobs" href="https://www.geneve.com:443/en/topicblocks/dream-jobs/">Jobs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="gtc-row">
                <div class="gtc-copyright">
                    <div class="gtc-copyright__col">
                        <span>Copyright © </span>
                        <a class="gtc-copyright__link" title="Geneva Tourism" href="https://www.geneve.com:443/en/business/about-us/">Geneva Tourism</a>
                        <a class="gtc-copyright__link" target="_blank" href="/-/media/geneva/pdf/business/about-us/legal_mentions_en_gvalive2016.pdf">Legal Mentions</a>
                        <a class="gtc-copyright__link" target="_blank" href="/-/media/geneva/pdf/business/about-us/general_conditions_en_gvalive2016.pdf">General Terms</a>
                        <span class="sep"> - </span>
                        <span>Developed by </span>
                        <a class="gtc-copyright__link" target="_blank" href="http://www.init.de">]init[</a>
                        <a class="gtc-copyright__link" target="_blank" href="https://www.dfacto.ch/">D-facto lab</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
