@font-face {
	font-family: "wcd-icons";
	src: url("./wcd-icons.eot?b1f34235264b9da72e877269e01803b4?#iefix") format("embedded-opentype"),
	url("./wcd-icons.woff2?b1f34235264b9da72e877269e01803b4") format("woff2"),
	url("./wcd-icons.woff?b1f34235264b9da72e877269e01803b4") format("woff"),
	url("./wcd-icons.ttf?b1f34235264b9da72e877269e01803b4") format("truetype"),
	url("./wcd-icons.svg?b1f34235264b9da72e877269e01803b4#wcd-icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
	font-family: wcd-icons !important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
	content: "\f101";
}

.icon-arrow-right:before {
	content: "\f102";
}

.icon-chevron-down:before {
	content: "\f103";
}

.icon-chevron-left:before {
	content: "\f104";
}

.icon-chevron-right:before {
	content: "\f105";
}

.icon-chevron-up:before {
	content: "\f106";
}

.icon-close:before {
	content: "\f107";
}

.icon-facebook:before {
	content: "\f108";
}

.icon-instagram:before {
	content: "\f109";
}

.icon-play:before {
	content: "\f10a";
}

.icon-twitter:before {
	content: "\f10b";
}
